<div class="nav">
    <div class="flex align-items-center">
        <div class="mr-2">
            <button *ngIf="toggler" (click)="toggleSidebar()" pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"></button>
            <button *ngIf="!toggler" (click)="toggleSidebar()" pButton pRipple type="button" icon="pi pi-align-left" class="p-button-rounded p-button-text"></button>
        </div>
        <h2 [style]="{'color': 'var(--primary-color)'}">Gedex</h2>
        <!-- <img src="assets/icons/gedex.png" class="logo"> -->
    </div>
    <div class="flex align-items-center">
        {{usuario}}
        <p-avatar icon="pi pi-user" styleClass="mx-2" [style]="{'background-color': 'var(--primary-color)', 'color': '#ffffff'}" shape="circle"></p-avatar>
        <button (click)="logout()" pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-text"></button>
    </div>
</div>