<app-nav></app-nav>
<div class="body">
    <app-sidebar></app-sidebar>
    <div class="content">
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <router-outlet></router-outlet>
    </div>
</div>