<app-nav (sidebar)="sidebarToggler($event)"></app-nav>
<div class="body">
    <div [class.hide]="toggler">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content" [class.hide-content]="!toggler">
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <h3>hola</h3>
        <router-outlet></router-outlet>
    </div>
</div>