<div class="row container flex align-items-center justify-content-center bg" [ngStyle]="{'backgroundColor':'var(--primary-color)'}">
    <form [formGroup]="form" (ngSubmit)="login()" class="col-12 md:col-6 lg:col-4 xl:col-3">
        <p-card styleClass="title shadow-8 login-card">
            <div class="row ">
                <div class="col-10 col-offset-1">
                    <div class="flex justify-content-center">
                        <div>
                            <h2 [style]="{'color':'var(--primary-color)'}">Gedex</h2>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-offset-1">
                    <div class="p-inputgroup mb-3">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input formControlName="usuario" name="usuario" class="w-full" type="text" pInputText placeholder="Ingrese su correo...">
                    </div>
                </div>
                <div class="col-10 col-offset-1">
                    <div class="p-inputgroup mb-3">
                        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                        <input formControlName="clave" name="clave" class="w-full" type="password" pInputText placeholder="Ingrese su contraseña...">
                    </div>
                </div>
                <div class="col-10 col-offset-1">
                    <button [icon]="icon" [disabled]="form.invalid || loading" pButton type="submit" label="Iniciar sesión" class="p-button-success w-full"></button>
                </div>
            </div>
        </p-card>
    </form>
</div>
<p-toast position="top-left"></p-toast>