<div class="nav">
    <div class="flex align-items-center">
        <div>
            <button *ngIf="toggler" (click)="toggleSidebar()" pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"></button>
            <button *ngIf="!toggler" (click)="toggleSidebar()" pButton pRipple type="button" icon="pi pi-align-left" class="p-button-rounded p-button-text"></button>
        </div>
        <img src="assets/icons/gedex.png" class="logo">
    </div>
    <div>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-text p-button-secondary"></button>
    </div>
</div>